.container-fluid {
    width: 100%;
    padding-right:  0 !important;
    padding-left:  0 !important;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
     margin-right: 0 !important;
     margin-left: 0 !important;
}
.bg-img {
    /* The image used */
    background-image: url("bg_2.jpeg");

    min-height: 380px;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* Needed to position the navbar */
    position: relative;
}

/* The navbar */
.topnav {
    overflow: hidden;
}

/* Navbar links */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

h5.text-light.pull-right {
    float: right;
}

p.paragraph {
    font-size: 15px;
    font-weight: 500;
    text-align: justify;
}
p.text-lg-center {
    font-size: 22px;
    color: white;
}
section.brown-background {
    background: #ca5555;
}
span.text-underline {
    text-decoration: underline;
}
p.paragraph1 {
    font-size: 14px;
    text-align: justify;
}
ul.inline-flex {
    display: inline-flex;
}
li.mr-5 {
    color: brown;
    font-weight: 600;
}
p.paragraph2{
    font-size: 14px;
    /* letter-spacing: 0.5px; */
    font-weight: 500;
    line-height: 24px;
}
p.paragraph4 {
    font-size: 14px;
    letter-spacing: 0.7px;
}
li.text{
    font-size: 14px;
    letter-spacing: 1px;
}
span.paragraph5 {
    font-weight: 500;
}
p.paragraph6 {
    color: #ca5555;
    font-size: 15px;
    font-weight: 500;
    text-decoration: underline;
}
ul.paragraph7 {
    font-weight: 500;
    font-size: 14px;
}
button.btn.btn-lg {
    background: lightgrey;
    border-top: 1px solid brown;
    width: 261px;
    font-size: 17px;
    font-weight: 500;
    padding: 15px;
}
div#section1 {
    background: black;
    color: white;
}
div#section2 {
    background: black;
    color: white;
}
div#section3 {
    background: black;
    color: white;
}
div#section4 {
    background: black;
    color: white;
}
h6.text-light {
    font-size: 13px;
    padding-top: 6px;
}
span.text2 {
    font-size: 15px;
    margin-left: 7px;
}
button.btn.btn-outline-light {
    border-radius: 20px;
    color: white;
}
i.fa.fa-search.outline-light {
    border: 1px solid;
    padding: 10px;
    border-radius: 20px;
}
section.brown-background {
    background: #ca5555;
    height: 110vh;
}
img.ml-5 {
    margin-top: -140px;
}